[ req ]
distinguished_name = dn
req_extensions = v3_req
prompt = no
[ dn ]
C = US
ST = FL
L = Miami
O = PQ-IoT
OU = Gateway
CN = raspberrypi.local
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[ alt_names ]
DNS.1 = raspberrypi.local
DNS.2 = localhost
IP.1  = 127.0.0.1
