[ req ]
distinguished_name = dn
prompt = no
[ dn ]
CN = raspberrypi.local

[ server_cert ]
basicConstraints = CA:false
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt

[ alt ]
DNS.1 = raspberrypi.local
DNS.2 = localhost
IP.1  = 192.168.4.60
IP.2  = 127.0.0.1
